<%= form_for @book, :html => { :class => "form-horizontal book" } do |f| %>

    <% if @book.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    ISBN
    <div class="controls">
      <%= f.text_field :isbn, :class => 'form-control' %>
    </div>
    <%= error_span(@book[:isbn]) %>
  </div>
  <div class="control-group">
    ASIN
    <div class="controls">
      <%= f.text_field :asin, :class => 'form-control' %>
    </div>
    <%= error_span(@book[:asin]) %>
  </div>
  <div class="control-group">
    タイトル
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@book[:title]) %>
  </div>
  <div class="control-group">
    出版社
    <div class="controls">
      <%= f.text_field :publisher, :class => 'form-control' %>
    </div>
    <%= error_span(@book[:publisher]) %>
  </div>
  <div class="control-group">
    著者
    <div class="controls">
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <%= error_span(@book[:author]) %>
  </div>
  <div class="control-group">
    内容
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@book[:description]) %>
  </div>
  <div class="control-group">
    発売日
    <div class="controls">
      <%= f.text_field :publish_date, :class => 'form-control' %>
    </div>
    <%= error_span(@book[:publish_date]) %>
  </div>
  <div class="control-group">
    ページ数
    <div class="controls">
      <%= f.text_field :number_of_pages, :class => 'form-control' %>
    </div>
    <%= error_span(@book[:number_of_pages]) %>
  </div>
  <div class="control-group">
    価格
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@book[:price]) %>
  </div>
  <div class="control-group">
    画像
    <div class="controls">
      <%= f.text_field :image, :class => 'form-control' %>
    </div>
    <%= error_span(@book[:image]) %>
  </div>
  <div class="control-group">
    Evernoteに送信した日時
    <div class="controls">
      <%= f.text_field :evernote_post_at, :class => 'form-control datetimepicker' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <%= error_span(@book[:evernote_post_at]) %>
  </div>


  <%= f.submit '更新', :class => 'btn btn-primary' %>
  <%= link_to 'キャンセル', books_path, :class => 'btn btn-default' %>

<% end %>
