<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == "notice" ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
    <%= msg %>
  </div>
<% end %>

<%- model_class = Book -%>
<div class="page-header">
  <h1>書籍一覧</h1>
</div>

<%= link_to '新規登録', new_book_path,
            :class => 'btn btn-primary' %><table class="table table-striped">

  <thead>
    <tr>
      <th>ID</th>
      <th>ISBN</th>
      <th>タイトル</th>
      <th>出版社</th>
      <th>著者</th>
      <th>画像</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.id, book_path(book) %></td>
        <td><%= book.isbn %></td>
        <td><%= link_to book.title, 'http://www.amazon.co.jp/dp/' + book.asin, :target => '_blnank' %></td>
        <td><%= book.publisher %></td>
        <td><%= book.author %></td>
        <td><%= image_tag book.image %></td>
        <td>
          <%= link_to '編集', edit_book_path(book), :class => 'btn btn-default btn-xs' %>
          <%= link_to '送信', book_evernote_post_path(book), :class => 'btn btn-default btn-xs' %>
          <%= link_to '削除', book_path(book),
                      :method => :delete,
                      :data => { :confirm => '本当に削除しますか？' },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
