<%- model_class = Book -%>
<div class="page-header">
  <h1>書籍詳細</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>ISBN:</strong></dt><dd><%= @book.isbn %></dd>
  <dt><strong>ASIN:</strong></dt><dd><%= @book.asin %></dd>
  <dt><strong>タイトル:</strong></dt><dd><%= @book.title %></dd>
  <dt><strong>出版社:</strong></dt><dd><%= @book.publisher %></dd>
  <dt><strong>著者:</strong></dt><dd><%= @book.author %></dd>
  <dt><strong>内容:</strong></dt><dd><%= @book.description %></dd>
  <dt><strong>発売日:</strong></dt><dd><%= @book.publish_date %></dd>
  <dt><strong>ページ数:</strong></dt><dd><%= @book.number_of_pages %></dd>
  <dt><strong>価格:</strong></dt><dd><%= @book.price %></dd>
  <dt><strong>画像:</strong></dt><dd><%= image_tag @book.image %><br/><%= @book.image %></dd>
  <dt><strong>Evernoteに送信した日時:</strong></dt><dd><%= @book.evernote_post_at.to_s %></dd>
</dl>

<%= link_to '戻る', books_path, :class => 'btn btn-default'  %>
<%= link_to '編集', edit_book_path(@book), :class => 'btn btn-default' %>
<%= link_to '送信', book_evernote_post_path(@book), :class => 'btn btn-default' %>
<%= link_to '削除', book_path(@book), :method => 'delete', :data => { :confirm => '本当に削除しますか？' }, :class => 'btn btn-danger' %>
